[alias]
	co = checkout
	unadd = reset HEAD
	st = status
	lg = log --graph --abbrev-commit --pretty=oneline --decorate --color
	lga = log --graph --abbrev-commit --pretty=oneline --decorate --color --all
	recent-branches ="!git for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/"

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[core]
	editor = vim
    pager = less -F -X

[push]
	default = simple

[user]
	name = Josiah Oberholtzer
	email = josiah.oberholtzer@gmail.com

[credentials]
	helper = store

[gpg "x509"]
	program = smimesign

[gpg]
	format = x509

[pull]
	ff = only

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
